pydantic==2.12.4
eth-account==0.13.7
# Install this via: pip install -e .
# Must be done inside the {root}/python directory.
# y402
## These are used to perform a request: httpx, httpx (sync), requests.
## At a time, only ONE will be used.
requests==2.32.5
httpx==0.28.1

## These are used to serve the API: flask, in this example.
Flask==3.1.2

## These ones are used for:
## - Payment & webhook request storage: pymongo.
## - A way to get post-endpoints data.
pymongo==4.15.4

## For the facilitator we use web3.
web3==7.14.0
